*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    height: 100vh;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.text-name-container {
    width: 50%;
}

.item-head-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.wrapper-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 150px;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.carousel__item {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 12px;
    opacity: 0;
    filter: drop-shadow(0 2px 2px #555);
    will-change: transform, opacity;
    -webkit-animation: carousel-animate-vertical 30s linear infinite;
    animation: carousel-animate-vertical 30s linear infinite;
}

.carousel__item:nth-child(1) {
    -webkit-animation-delay: calc(5s * -1);
    animation-delay: calc(5s * -1);
}

.carousel__item:nth-child(2) {
    -webkit-animation-delay: calc(5s * 0);
    animation-delay: calc(5s * 0);
}

.carousel__item:nth-child(3) {
    -webkit-animation-delay: calc(5s * 1);
    animation-delay: calc(5s * 1);
}

.carousel__item:nth-child(4) {
    -webkit-animation-delay: calc(5s * 2);
    animation-delay: calc(5s * 2);
}

.carousel__item:nth-child(5) {
    -webkit-animation-delay: calc(5s * 3);
    animation-delay: calc(5s * 3);
}

.carousel__item:last-child {
    -webkit-animation-delay: calc(-5s * 2);
    animation-delay: calc(-5s * 2);
}


.carousel__item-head {
    border-radius: 50%;
    background-color: #ffffff;
    width: 90px;
    height: 90px;
    padding: 14px;
    position: relative;
    margin-right: -45px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.carousel__item-body {
    width: 100%;
    background: #112240bf;
    border-radius: 8px;
    padding: 16px 20px 16px 70px;
    height: 200px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;

    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

}

.title {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 10px;
}

@-webkit-keyframes carousel-animate-vertical {
    0% {
        transform: translateY(100%) scale(0.5);
        opacity: 0;
        visibility: hidden;
    }

    3%,
    16.6666666667% {
        transform: translateY(100%) scale(0.7);
        opacity: 0.4;
        visibility: visible;
    }

    19.6666666667%,
    33.3333333333% {
        transform: translateY(0) scale(1);
        opacity: 1;
        visibility: visible;
    }

    36.3333333333%,
    50% {
        transform: translateY(-100%) scale(0.7);
        opacity: 0.4;
        visibility: visible;
    }

    53% {
        transform: translateY(-100%) scale(0.5);
        opacity: 0;
        visibility: visible;
    }

    100% {
        transform: translateY(-100%) scale(0.5);
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes carousel-animate-vertical {
    0% {
        transform: translateY(100%) scale(0.5);
        opacity: 0;
        visibility: hidden;
    }

    3%,
    16.6666666667% {
        transform: translateY(100%) scale(0.7);
        opacity: 0.4;
        visibility: visible;
    }

    19.6666666667%,
    33.3333333333% {
        transform: translateY(0) scale(1);
        opacity: 1;
        visibility: visible;
    }

    36.3333333333%,
    50% {
        transform: translateY(-100%) scale(0.7);
        opacity: 0.4;
        visibility: visible;
    }

    53% {
        transform: translateY(-100%) scale(0.5);
        opacity: 0;
        visibility: visible;
    }

    100% {
        transform: translateY(-100%) scale(0.5);
        opacity: 0;
        visibility: hidden;
    }
}