:root {
    --primary-dark: whitesmoke;
    --bg-dark: #111111;
    --primary-light: #111111;
    --bg-light: whitesmoke;
    --highlight: #6cace4;
    --divider: rgb(164, 164, 164);
    --color-b: #1e1e1e;
}

.footer-container {

    height: 100%;
    margin-top: -30px;
    /* writing-mode: vertical-rl; */
    right: 0px;
    position: fixed;
    /* text-orientation: sideways; */
}

.container-copyright {
    display: flex;

    color: var(--color-b);
    padding: 10px;
}

.container-copyright>span {
    font-size: small;
}

.container-copyright i {
    color: #ff0202;
}