@import url(../../style.css);

.icons-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 1px;
    left: 20px;
    align-items: center;
    max-height: 50vh;
    z-index: 3;
}

.icons-container-mobile {
    display: none;
    flex-direction: column;
    position: fixed;
    bottom: 1px;
    left: 20px;
    align-items: center;
    max-height: 50vh;
    z-index: 3;
}

.icons-social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 40px;
}

.icon-item>a>img {
    width: 100%;
}


.icon-item>a>img:hover {
    filter: drop-shadow(2px 4px 6px black);
    transform: scale(1.5);
}


.line-element {
    width: 1px;
    height: 50px;
    margin: 0 auto;
    background-color: var(--color-a);
}

.line-element-top {
    width: 1px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 15px;
    background-color: var(--color-a);
}